@{
    ViewData["Title"] = "Classmates";
}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>My Classmates</h2>
            <p>Be sure to visit my classmates websites as well as their LinkedIn pages!</p>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <a href="http://thomaswaltondev.com" target="_blank"><img src="/assets/img/trainers/thomas.jpg" class="img-fluid" alt=""></a>
                        <div class="member-content">
                            <h4><a href="http://thomaswaltondev.com" target="_blank">Thomas Walton</a></h4>
                            <span>Overland Park, KS</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/thomaswaltondev/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <a href="http://catiewatsondev.com" target="_blank"><img src="/assets/img/trainers/catie.jpg" class="img-fluid" alt=""></a>
                        <div class="member-content">
                            <h4><a href="http://catiewatsondev.com" target="_blank">Catie Watson</a></h4>
                            <span>Kansas City, MO</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/catie-watson-dev/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <a href="http://ambrosidev.net" target="_blank"><img src="/assets/img/trainers/taryn.jpg" class="img-fluid" alt=""></a>
                        <div class="member-content">
                            <h4><a href="http://ambrosidev.net" target="_blank">Taryn Ambrosi</a></h4>
                            <span>Independence, MO</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/taryn-ambrosi/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-8 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <a href="http://AustinFarrow.com" target="_blank"><img src="/assets/img/trainers/austin.jpg" class="img-fluid" alt=""></a>
                        <div class="member-content">
                            <h4><a href="http://AustinFarrow.com" target="_blank">Austin Farrow</a></h4>
                            <span>Belton, MO</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/austin-farrow/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <a href="http://haleykillingsworth.com" target="_blank"><img src="/assets/img/trainers/haley.jpg" class="img-fluid" alt=""></a>
                        <div class="member-content">
                            <h4><a href="http://haleykillingsworth.com" target="_blank">Haley Killingsworth</a></h4>
                            <span>Overland Park, Kansas</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/haley-killingsworth-4315b2199/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Trainers Section -->

</main><!-- End #main -->