@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Ethan Anderson-Alexander<br>Full Stack Developer</h1>
        <h2>Tech hobbyist and Kansas native trained via <a href="https://centriq.com/" target="_blank"><strong>Centriq</strong></a></h2>
        <a href="@Url.Action("Portfolio", "Home")" class="btn-get-started">View Portfolio</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="/assets/img/gamer.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Personal dive to who I am</h3>
                    <p class="fst-italic">
                        Computer enthusiast and avid gamer from a young age
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Familiar with assembling powerful machines</li>
                        <li><i class="bi bi-check-circle"></i> Hands on with desktop computers from the age of 8</li>
                        <li><i class="bi bi-check-circle"></i> Assembled a dual computer streaming setup with remote capabilties handling video encoding with steady bitrate for a clear image on stream (no longer in possession)</li>
                    </ul>
                    <p>
                        Sociable and enjoy connecting with others that share similar passions to me. I like learning from others within the tech space that may have experience I am unfamiliar with. Attended multiple Kansas City LAN events to connect more with the local tech and gaming communities.
                    </p>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose Me?</h3>
                        <p>
                            I am incredibly self-motivated with the drive to become the best developer I can possibly be. I am never afraid to tackle a challenge head first while also using it as an opportunity to learn. I am familiar with machine assembly and what it means to be a full stack developer. I put 100% effort into everything that I do and always try to do things the right way rather than cut-corners.
                        </p>
                        <div class="text-center">
                            <a href="@Url.Action("Resume", "Home")" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-chat"></i>
                                    <h4>Communication</h4>
                                    <p>I recognize communication plays a crucial role in creating a cohesive team</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-group"></i>
                                    <h4>Teamwork</h4>
                                    <p>I am comfortable working a team based setting, while motivating those around me</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-shield"></i>
                                    <h4>Integrity</h4>
                                    <p>I can comfortably admit when I am wrong and will never lie on my behalf. I am open to ideas and change</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
            <h3 class="text-center">My Instructors</h3>

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/trainers/spencer.png" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Spencer Pearson</h4>
                            <span>Full Stack Web Development Instructor</span>
                            <p>
                                Taught me:
                            </p>
                            <ul>
                                <li>Fundamentals of User Interface</li>
                                <li>Principles of User Experience</li>
                                <li>Introduction to Data</li>
                                <li>Single Page Apps in React</li>
                            </ul>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/spencer-pearson/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/trainers/Jeremy.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Jeremy Rutherford</h4>
                            <span>Technical Instructor - Full-Stack .Net Web Developer Track at Centriq Training</span>
                            <p>
                                Taught me:
                            </p>
                            <ul>
                                <li>C# Fundamentals</li>
                                <li>Advanced Data</li>
                            </ul>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/jeremy-rutherford/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/trainers/Evan.jpg" class="img-fluid" alt="">
                        <div class="member-content">
                            <h4>Evan Whittaker</h4>
                            <span>Full Stack Engineer | Coding Instructor Manager at Centriq Training</span>
                            <p>
                                Taught me:
                            </p>
                            <ul>
                                <li>MVC and .NET Core</li>
                                <li>Team Development</li>
                                <li>Project Development & Presentation</li>
                            </ul>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/evanwhittaker/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Trainers Section -->

</main><!-- End #main -->