@{
    ViewData["Title"] = "Portfilio";
}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>My Projects</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="/assets/img/8ball.PNG" class="img-fluid project-img" alt="Magic 8 Ball">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Console application</h4>
                            </div>

                            <h3><a href="https://github.com/HossinatorWCheez/Magic8Ball/blob/main/Magic8Ball/Program.cs" target="_blank">Magic 8 Ball</a></h3>
                            <p>A console application that will randomly select a pre-written prompt when the user ask's the application a question!</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="/assets/img/csharp.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <img src="/assets/img/dungeonapp.PNG" class="img-fluid project-img" alt="Dungeon Application">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Console application</h4>
                            </div>

                            <h3><a href="https://github.com/HossinatorWCheez/Dungeon-App/blob/main/MyDungeon/Program.cs" target="_blank">Dungeon Application</a></h3>
                            <p>My version of a text based dungeon crawler, complete with functional and balanced combat. Includes a scoring system and even a player accessible shop to purchase items!</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="/assets/img/csharp.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <img src="/assets/img/course-3.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Content</h4>
                                <p class="price">$180</p>
                            </div>

                            <h3><a href="course-details.html">Copywriting</a></h3>
                            <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="/assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                                    <span>Brandon</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>&nbsp;20
                                    &nbsp;&nbsp;
                                    <i class="bx bx-heart"></i>&nbsp;85
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>

        </div>
    </section>

    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Languages!</h2>
                <p>Some languages I have used</p>
                <h3>Click image to view related documentation!</h3>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank"><img src="/assets/img/html5.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img src="/assets/img/css.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="/assets/img/js.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://api.jquery.com/" target="_blank"><img src="/assets/img/jquery-1-logo.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://react.dev/learn" target="_blank"><img src="/assets/img/react.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16" target="_blank"><img src="/assets/img/sql.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank"><img src="/assets/img/csharp.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
</main><!-- End #main -->