@{
    ViewData["Title"] = "Portfilio";
}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>My Projects</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mb-md-3">
                    <div class="course-item">
                        <img src="/assets/img/TechLight.PNG" class="img-fluid project-img" alt="Store Front App">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>.NET Core MVC App</h4>
                            </div>

                            <h3><a href="https://github.com/HossinatorWCheez/StoreFrontMVC" target="_blank">Store Front Application</a></h3>
                            <p>A mock store front with the theme of the Escape From Tarkov universe (before BSG's terrible decisions). This application connects to a T-SQL database housing product information and displayed in Razor views using the MVC Architecture.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="/assets/img/csharp.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mb-md-3">
                    <div class="course-item">
                        <img src="/assets/img/ToDo.PNG" class="img-fluid project-img" alt="To Do Application">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <a href="http://todo.ethanjamesaa.com" target="_blank"><h4>ReactJS App | Click to visit site!</h4></a>
                            </div>

                            <h3><a href="https://github.com/HossinatorWCheez/react-todo" target="_blank">ToDo Application</a></h3>
                            <p>This application is a ToDo checklist that utilizes a T-SQL database to track tasks and their status. This application was built using the ReactJS library and utilized Google Firebase to handle authentication allowing users to login using their GitHub accounts! </p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="/assets/img/react.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mb-md-3">
                    <div class="course-item">
                        <img src="/assets/img/API.PNG" class="img-fluid project-img" alt="NET Core Web API">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>.NET Core Web API</h4>
                            </div>

                            <h3><a href="https://github.com/HossinatorWCheez/ToDoAPI/tree/main/ToDoAPI" target="_blank">ToDo API</a></h3>
                            <p>We created a .NET Core Web API so that we could create an endpoint for our ReactJS ToDo application to recieve database entries. This API has been deployed and handles GET and POST requests created from the ToDo App!</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="/assets/img/csharp.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="/assets/img/8ball.PNG" class="img-fluid project-img" alt="Magic 8 Ball">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Console application</h4>
                            </div>

                            <h3><a href="https://github.com/HossinatorWCheez/Magic8Ball/blob/main/Magic8Ball/Program.cs" target="_blank">Magic 8 Ball</a></h3>
                            <p>A console application that will randomly select a pre-written prompt when the user ask's the application a question!</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="/assets/img/csharp.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <img src="/assets/img/dungeonapp.PNG" class="img-fluid project-img" alt="Dungeon Application">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Console application</h4>
                            </div>

                            <h3><a href="https://github.com/HossinatorWCheez/Dungeon-App/blob/main/MyDungeon/Program.cs" target="_blank">Dungeon Application</a></h3>
                            <p>My version of a text based dungeon crawler, complete with functional and balanced combat. This app was my introduction to the fundamentals of C#. Includes a scoring system and even a player accessible shop to purchase items like bigger and better weapons to continue the monster slaughter!</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="/assets/img/csharp.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->
            </div>

        </div>
    </section>

    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Languages!</h2>
                <p>Some languages I have used</p>
                <h3>Click image to view related documentation!</h3>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank"><img src="/assets/img/html5.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img src="/assets/img/css.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="/assets/img/js.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://api.jquery.com/" target="_blank"><img src="/assets/img/jquery-1-logo.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://react.dev/learn" target="_blank"><img src="/assets/img/react.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16" target="_blank"><img src="/assets/img/sql.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank"><img src="/assets/img/csharp.png" class="testimonial-img" alt=""></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
</main><!-- End #main -->