@{
    ViewData["Title"] = "Resume";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>My Resume</h2>
            <object data="/assets/My resume.pdf" type="application/pdf" width="100%" height="1080px">
                <p>Unable to display PDF file. <a href="/assets/My resume.pdf">Download</a> instead.</p>
            </object>
        </div>
    </div><!-- End Breadcrumbs -->

</main><!-- End #main -->